#about-container{
    .text-container{
        margin: $spacing-l auto;
        max-width: 600px;
        
        text-align: center;
        
        .close{
            position: absolute;
            top: -$spacing-l;
            right: -$spacing-l;
        }
    }
}