#about-container{
    min-height: calc(100vh - 138px);
    .text-container{
        position: absolute;
        left: 50%;
        top: 40%;
        transform: translateX(-50%) translateY(-50%);
        
        margin: $spacing-l auto;
        width: calc(100% - #{$spacing-l});
        max-width: 370px;
        
        text-align: left;
        
        p{
            margin-bottom: $spacing-m;
        }
        
        .close{
            position: absolute;
            top: -$spacing-l;
            right: -$spacing-l;
        }
    }
}