button{
    cursor: pointer;
}

button.close{
    border: solid 1px $dark;
    background: none;
    font-size: $font-size-s;
    font-family: $title-font;
}
button.close:hover{
    background-color: $accent-red;
    border-color: $accent-red;
    color: white;
    transition: .3s all;
}