.banners-container{
    padding-top: $spacing-xl;
}

.collection-banner{
    position: relative;
    height: 400px;
    background-color: $dark;
    color: white;
    margin-bottom: $spacing-xl;
    
    background-size: cover;
    
    h1{
        margin: 0 $spacing-xl;
        line-height: 400px;
    }
}