#contact-container{
    text-align: center;
    @include center-in-parent;
    top: 40%;

    .social{
        
        margin: $spacing-m;
        text-transform: uppercase;
        ul{
            text-align: center;
            li{
                display: inline-block;
                font-size: $font-size-xs;
                font-weight: 700;
                margin: $spacing-m;
                a:hover{
                    color: $accent-red;
                }
            }
        }
    }
}
