#contact-container {
    text-align: center;
    @include center-in-parent;
    top: 45%;

}

.bottom {
    text-align: center;
    position: fixed;
    width: 100%;

    bottom: 103px;

    .social {

        margin: $spacing-s;
        text-transform: uppercase;
        ul {
            text-align: center;
            li {
                display: inline-block;
                font-size: $font-size-xs;
                font-weight: 700;
                margin: $spacing-s;
                a:hover {
                    color: $accent-red;
                }
            }
        }
    }

    .copyright {
        p {
            font-size: $font-size-xxs;
        }
        font-family: $general-font;
    }
}
