footer{
    z-index: $z-header;
    //position: fixed;
    //bottom: 0;
    //width: 100%;
    
    //padding: $spacing-l;
    //background-color: $dark;
    //color: white;
    font-size: 0;
    font-family: $title-font-2;
    text-transform: lowercase;
    border-top: solid 1px transparentize($dark, 0.8);
    background-color: $off-white-dark;
    >div{
        padding: 0 $spacing-m;
    }
    p{
        text-align: center;
        display: inline-block;
        width: 20%;
        font-size: $font-size-xs;
        font-weight: 100;
        //text-transform: uppercase;
        
        @include media($desktop-small){
            display: block;
            text-align: center;
            width: 100%;
            
        }
        
    }
    #email-signup{
        width: 40%;
        display: inline-block;
        
        
        label{
            font-size: $font-size-xs;
            padding-right: $spacing-s;
        }
        input{
            padding: $spacing-xs;
            border: solid 1px $dark;
            width: 200px;
        }
        button{
            padding: $spacing-xs;
            margin: $spacing-xs;
            background-color: $dark;
            border: solid 1px $dark;
            color: $off-white;
            &:hover{
                background-color: $accent-red;
                border: solid 1px $accent-red;
                color: $off-white;
            }
        }
        
        @include media($desktop-small){
            display: block;
            text-align: center;
            width: 100%;
            
            padding: $spacing-s;
        }
    }
    
    .social{
        text-align: right;
        width: 40%;
        display: inline-block;
        
        ul{
            li{
                display: inline-block;
                padding: 18px 0 18px 18px;
                a{
                    font-size: $font-size-s;
                    color: $dark;
                    &:hover{
                        color: $accent-red;
                    }
                }
            }
        }
        
        @include media($desktop-small){
            display: block;
            text-align: center;
            width: 100%;
        }
    }
}