header {
    text-align: center;
    background-color: $off-white-dark;
    z-index: 100;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    //pointer-events: none;
    
    border-bottom: solid 1px transparentize($dark, 0.8);
    
    .logo{
        position: absolute;
        left: 0;
        top: 50%;
        transform: translateY(-50%);
        
        height: 60px;
        padding-left: $spacing-s;
    }
    nav {
        
        display: inline-block;
        pointer-events: all;
        ul {
            font-size: 0;
            font-weight: 700;
            text-transform: lowercase;
            li {
                display: inline-block;
                letter-spacing: $letter-spacing;
                font-size: $font-size-xs;
                
                cursor: pointer;

                @include highlight(tb);
                
                a{
                    padding: $spacing-m;
                }
                a.active{
                    //color: $accent-red;
                }
            }

        }
    }
    .icons{
        position: absolute;
        right: 0;
        top: 50%;
        transform: translateY(-50%);
        padding-right: $spacing-m;
        pointer-event: all;
        i{
            padding: $spacing-s;
            color: $dark;
            cursor: pointer;
            &:hover{
                color: $accent-red;
            }
        }
    }
}