#product-overlay{
    z-index: $z-overlay;
    position: relative;
    width: 100%;
    height: auto;
    
    
    .content-container{
        font-size: 0;
        max-width: $site-max-width;
        margin: $spacing-m auto $spacing-xl;
        
        
        .left, .right{
            display: inline-block;
            width: 50%;
            min-height: 800px;
            
        }
        .left{
            position: relative;
            .img-stack{
                height: 100%;
            }
            .img-container{
                position: absolute;
                top: 0;
                left: 0;
                opacity: 1.0;
                transform: translateY(0);
                height: 100%;
                width: 100%;
                
                transition: .5s all;
                img{
                    @include center-in-parent;
                    
                    z-index: 20;
                    
                    cursor: pointer;
                    max-width: 400px;
                    max-height: 80vh;
                    
                    box-shadow: 0 0 50px 30px rgba(0, 0, 0, 0.05);
                }
            }
            .img-container.clicked{
                opacity: 0.0;
                transform: translateY(-50%);
                
                transition: .5s all;
            }
        }
        .right{
            padding: $spacing-m;
            vertical-align: top;
            position: relative;
            
            .close{
                float: right;
                
            }
            
            .text-container{
                @include center-in-parent;
                width: 80%;
                .product-title{
                    font-size: $font-size-l;
                    line-height: 100%;
                }
                .price{
                    font-size: $font-size-s;
                    margin: $spacing-m 0;
                    font-family: $general-font;
                }
                p{
                    font-size: $font-size-xs;
                    font-family: $general-font;
                }
                
                form{
                    margin-top: $spacing-m;
                    font-family: $general-font;
                    label{
                        
                        padding: $spacing-s;
                        padding-left: 0;
                        display: inline-block;
                    }
                    input, select{
                        display: inline-block;
                        margin-right: $spacing-l;
                        width: 100px;
                        border: none;
                        background-color: white;
                    }
                    button{
                        width: 100px;
                        margin: $spacing-m 0;
                    }
                }
            }
        }
    }
}