#product-overlay{
    display: none;
    
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    
    background-color: $off-white;
    
    .content-container{
        font-size: 0;
        max-width: $site-max-width;
        margin: 0 auto;
        height: 100%;
        
        .left, .right{
            display: inline-block;
            width: 50%;
            height: 100%;
        }
        .left{
            
        }
        .right{
            padding: $spacing-m;
            vertical-align: top;
        }
    }
}